div.attackers {
	float: left;
	width: 350px;
}
div.items {
	float: right;
	width: 325px;
}
div.attacker {
	background-color: #222;
	margin-top: 10px;
}
div.item {
	background-color: #222;
	margin-top: 2px;
}
div.clear {
	clear: both;
}
