body {
	background-color: #000;
	color: #ccc;
	font-family: Metrophobic, sans-serif;
}
a:link, a:visited {
	color: #08a;
	text-decoration: none;
}
a:hover {
	color: #0af;
	text-decoration: underline;
}
a.current {
	font-weight: bold;
}
img {
	border-style: none;
}
div#content {
	width: 900px;
	margin: 50px auto;
	background: #111;
	padding: 50px;
}
