{% extends "base.html %}

{% block content %}
	{{ kill.killTime }}
	<br>{{ kill.systemName }} {{ kill.systemSecurity }}
	<br><img src="http://image.eveonline.com/Character/{{ kill.characterID }}_128.jpg">
	{{ kill.characterName }}
	<br>{{ kill.corporationName }}
	<br>{{ kill.allianceName }}
	<br>{{ kill.factionName }}
	<br><img src="http://image.eveonline.com/Render/{{ kill.shipTypeID }}_128.png">
	{{ kill.shipTypeName }}
	<br>{{ kill.damageTaken }}

	<br>
	<div class="attackers">
		{% for i, attacker in enumerate(kill.attackers) %}
			<div class="attacker">
				<img src="http://image.eveonline.com/Character/{{ attacker.characterID }}_64.jpg">
				{{ attacker.characterName }} {{ i == 0 and "(final blow)" or "" }}
				<br>{{ attacker.corporationName }}
				<br>{{ attacker.allianceName }}
				<br>{{ attacker.factionName }}
				<br><img src="http://image.eveonline.com/Render/{{ attacker.shipTypeID }}_64.png">
				{{ attacker.shipTypeName }}
				<br>{{ attacker.weaponTypeName }}
				<br>{{ attacker.damageDone }}
				<br>{{ attacker.securityStatus }}
			</div>
		{% end %}
	</div>

	<div class="items">
		{% for item in kill.items %}
			<div class="item">
				<img src="http://image.eveonline.com/InventoryType/{{ item.typeID }}_32.png">
				{{ item.typeName }} {{ item.singleton == 2 and "(BPC)" or "" }}
				<br>{{ item.flag }}
				<br>{{ item.qtyDropped }}
				<br>{{ item.qtyDestroyed }}
			</div>
		{% end %}
	</div>

	<div class="clear"></div>
{% end %}
