{% extends "base.html %}

{% block css %}
	<link href="/static/kill.css" rel="stylesheet" type="text/css">
{% end %}

{% block content %}
	<div class="victim">
		<img src="http://image.eveonline.com/Character/{{ kill.characterID }}_128.jpg" class="portrait">
		{{ kill.killTime.strftime('%a %b %d %H:%M') }} ({{ kill.ago }} ago)
		<br>{{ kill.systemName }} {{ round(kill.systemSecurity, 1) }}
		<br>{{ kill.characterName }}
		<br><img src="http://image.eveonline.com/Corporation/{{ kill.corporationID }}_32.png">
		{{ kill.corporationName }}
		<br><img src="http://image.eveonline.com/Alliance/{{ kill.allianceID }}_32.png">
		{{ kill.allianceName }}
	</div>
	<div class="ship">
		<img src="http://image.eveonline.com/Render/{{ kill.shipTypeID }}_128.png">
		{{ kill.shipTypeName }} ({{ kill.groupName}})
		<br><br>
		Damage taken: {{ kill.damageTaken }}
		<br>Cost: {{ round(kill.shipCost / 1e8, 2) }} million ISK
	</div>

	<div class="attackers">
		{% for attacker in kill.attackers %}
			<div class="attacker">
				<img src="http://image.eveonline.com/Character/{{ attacker.characterID }}_64.jpg" class="portrait">
				<img src="http://image.eveonline.com/InventoryType/{{ attacker.shipTypeID }}_64.png" class="ship">
				<div class="text">
					{{ attacker.characterName }} {{ attacker.finalBlow and "(final blow)" or "" }}
				</div>
				<div class="img">
					<img src="http://image.eveonline.com/Corporation/{{ attacker.corporationID }}_32.png">
					{{ attacker.corporationName }}
				</div>
				<div class="img">
					<img src="http://image.eveonline.com/Alliance/{{ attacker.allianceID }}_32.png">
					{{ attacker.allianceName }}
				</div>
				<div class="text">{{ attacker.shipTypeName }}</div>
				{% if attacker.shipTypeID != attacker.weaponTypeID %}
					<div class="img">
						<img src="http://image.eveonline.com/InventoryType/{{ attacker.weaponTypeID }}_32.png">
						{{ attacker.weaponTypeName }}
					</div>
				{% end %}
				<div class="text">Damage dealt: {{ attacker.damageDone }}</div>
				<div class="text">Security status: {{ round(attacker.securityStatus, 1) }}</div>
			</div>
		{% end %}
	</div>

	<div class="items">
		{% for slot in ['High', 'Medium', 'Low', 'Rig', 'Drone Bay', 'Cargo', 'Implant'] %}
			{% if slot in kill.items %}
				{{ slot }}
				{% for item in kill.items[slot] %}
					<div class="item{{ item.ammo and " ammo" or "" }}">
						<img src="http://image.eveonline.com/InventoryType/{{ item.typeID }}_32.png">
						<div class="name {{ item.dropped and "dropped" or "destroyed" }}">
							{{ item.typeName }} {{ item.singleton == 2 and "(BPC)" or "" }}
							{{ item.quantity > 1 and "x%d" % item.quantity or "" }}
						</div>
						<div class="cost">{{ round(item.total_cost / 1e6, 2) }}</div>
					</div>
				{% end %}
			{% end %}
		{% end %}
		<p>
			Total loss: {{ round(kill.total_loss / 1e6, 2) }} million ISK
		</p>
	</div>


	<div class="clear"></div>
{% end %}
