{% extends "base.html %}

{% block css %}
	<link href="/static/list.css" rel="stylesheet" type="text/css">
{% end %}

{% block content %}
	{% for kill in kills %}
		<div class="kill {{ kill.corporationID == 98004522 and 'us' or 'them'}}">
			<div class="datetime">{{ kill.killTime.strftime('%a %b %d %H:%M') }}</div>
			<div class="image">
				<a href="/kill/{{ kill.killID }}">
					<img src="http://image.eveonline.com/Render/{{ kill.shipTypeID }}_32.png">
					{{ kill.characterName }}
				</a>
			</div>
			<div class="oneline">{{ kill.corporationName }}</div>
			<div class="image">
				{% if kill.allianceID %}
					<img src="http://image.eveonline.com/Alliance/{{ kill.allianceID }}_32.png">
					{{ kill.allianceName }}
				{% end %}
			</div>
			<div class="oneline">{{ kill.shipTypeName }}</div>
			<div class="oneline">{{ round(kill.cost / 1e8, 2) }}</div>
		</div>
	{% end %}

	<div class="pages">
		{% for i in range(1, page['max']+1) %}
		<a href="/page/{{ i }}"{% raw i == page['current'] and ' class="current"' or ''%}>
			{{ i }}
		</a>
		{% end %}
	</div>
{% end %}
