{% extends "base.html %}

{% block content %}
	{% for kill in kills %}
		<img src="http://image.eveonline.com/Render/{{ kill.shipTypeID }}_32.png">
		<a href="/kill/{{ kill.killID }}">{{ kill.killTime }} {{ kill.characterName }}</a>
		{{ kill.corporationName }}
		{{ kill.allianceName }}
		{{ kill.factionName }}
		{{ kill.shipTypeName }}
		<br>
	{% end %}

	{% for i in range(1, page['max']+1) %}
		{% if i == page['current'] %}
			<a href="/page/{{ i }}" class="current">{{ i }}</a>
		{% else %}
			<a href="/page/{{ i }}">{{ i }}</a>
		{% end %}
	{% end %}
{% end %}
